/* css phần đầu của home */
.header-one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f8f4f0;
  }
.container-home {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }
  
  .section {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .section-title, .section-image {
    max-width: 50%;
    width: 50%;
  }
  
  .section-title .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    
  }
 
  
  .section-title .description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  
  .section-title button {
    background-color: #ffa94d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 40px;
  }
  
  .section-title button:hover {
    background-color: #ff922b;
  }
  
  .list {
    display: flex;
    gap: 20px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .item:hover {
    transform: translateY(-10px);
  }
  
  .images {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .content {
    text-align: center;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .tag {
    font-size: 15px;
    color: #999;
  }
  
  .section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .section-image .center {
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  
  .section-image .center img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: -50px;
  }
/* kết thúc phần css trang đầu */
.header{
    margin-bottom: 40px;
}
.title{
    margin-bottom: 40px;
}
.title h2{
    padding-top: 40px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: orange;
}
.title .line{
    width: 150px;
    height: 4px;
    background: -webkit-linear-gradient(-30deg, #f57f20, #d62b08 100%);
    margin: 0 auto;
}
.container{
    display: flex;
    width: 100vw;
}
.paner{
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 19px;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    transition: flex 1s;
}
.paner h3{
    position: absolute;
    font-size: 24px;
    margin: 0;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: opacity 1s 1s;
    background: rgba(0, 0, 0, 0.432);
    padding: 2px 20px;
    border-radius: 15px;
}
.paner.active{
    flex: 10;
}
.paner.active h3{
    opacity:1;
}